@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Teko', sans-serif;
  letter-spacing: 0.06em;
}

.sticky {
  position: fixed;
  top: 0 !important;
  background-color: #f4f4f5 !important;
}

.sticky + .content {
  padding-top: 32px;
}

.hero {
  height: calc(100vh - 84px);
}

.logo-shape {
  clip-path: polygon(2% 34%, 39% 5%, 70% 38%, 50% 79%, 17% 78%);
}

.hero-gradient {
  background: linear-gradient(60deg, #230708 24%, #07060e 90%);
}

.next {
  background: linear-gradient(240deg, #230708c7 45%, #0d1882 95%);
}

.next > img {
  transition: all 500ms ease-in-out;
  animation: slide-alter 1.5s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite
    alternate;
}

@keyframes slide-alter {
  0% {
    transform: translateY(0) rotateZ(0deg);
  }
  100% {
    transform: translateY(64px) rotateZ(360deg);
  }
}
